{% extends 'base.html' %}
{% block content %}
<div class="card-01">
	<div class="txt-03">
		Encrypt Messages
	</div>
    <form method="POST">
       
    	<br><br><br><br><br><br>
    	<div class="con-03">
    		<input type="text" class="form-control" id="sender" aria-describedby="emailHelp" placeholder="Receiver" name="receiver">
    		<div class="form-group"><br>
    			<textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Enter Your Message Here"></textarea>
  			</div>
    		<div class="but-05">
    			<button type="button" class="btn btn-success">Encrypt It !</button>
    		</div>
    	</div>

    </form>
</div>

{% endblock content %}
